# IDE stuff
.vscode

# Object files
*.o

# Executables
*.exe
my_program
tsp_solver

# Libraries
*.lib

# Latex
*.aux
*.log
*.out
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.xmpi
*.fdb_latexmk
*.fls
.clang-format

# thesis/main.pdf
src/py/*.pdf

model.lp
